header{
	font:Times;
	font-size: 100px;
	text-align: center;
	font-weight: 100px;
}

p{
	font-family: 'Roboto', Sans-serif;
	font-size: 20px;
	text-align: center;
}
#link #link7{
	color: black;
}
#link2, #link3, #link4, #link5, #link6, #link7 #link8, #link9 ,#link10 ,#link11 ,#link12, #link13, 
#link14, #link15, #link16 ,#link17, #link18, #link19, #link20, #link21, #link22, #four, #five, #six, #seven, #eight, #final, #nine{
	color:black;
}